<section class="tex">
  <h2 class="tex__title">ТЕХНИКА</h2>
  <div class="container">
    <div class="tex-content">
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
    </div>
  </div>
  <button class="tex__more">СМОТРЕТЬ БОЛЬШЕ</button>
</section>